.root {
  position: relative;
  width: 6vw;
  height: 6vw;
  max-width: 24px;
  max-height: 24px;
  align-items: flex-start;
  overflow: hidden;
}

.icon {
  overflow: visible;
  color: white;
}

.icon2 {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
