.root {
    position: relative;
    width: 24px;
    height: 24px;
    align-items: flex-start;
    overflow: hidden;
  }
  .icon {
    overflow: visible;
    color: white;
  }
  .icon2 {
    width: 100%;
    height: 100%;
  }
  